body {
  background-color:#383838;  
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headd {						/*login2,register2,forget*/
  padding: 50px 0;
  color: #000000;
  text-align: center;
  letter-spacing: 2px;
}

.headdd {						/*login2,register2,forget*/
  padding: 50px 0;
  color: #000000;
  text-align: center;
  letter-spacing: 2px;
  }

.colorr
{
	background-color:#ffffff;  
    color: #ffffff;
}
.formDesign {					/*login2,register2,forget*/
  position: relative;
  background: #ffffff;
  max-width: 420px;
  width: 200%;
  border: 3px solid #000000;
  margin: 0 auto;
}

.headd h1 {						/*login2,register2*/
  font-family: "Courier New", Courier, monospace;	
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 600;
}

.formDesign h2 {				/*login2,register2*/
  margin: 0 0 20px;
  color: #660066;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
}

.formDesign h3 {				/*forget*/
  margin: 0 0 20px;
  color: #F6ACF6;
  font-size: 16px;
  font-weight:300;
  line-height: 1;
}

.headdd h4 {				/*forget*/
  position: relative;
  margin: 0 0 20px;
  color: #9966cc;
  font-size: 56px;
  font-weight:500;
  line-height: 1;
}

.formDesign input {				/*login2,register2,forget*/
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #050505;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.formDesign select {			/*register2*/
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #050505;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.formDesign .formForget {		/*login2*/
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

.formDesign .form {				/*login2,register2,forget*/
  display: block;
  padding: 40px;
}

#button{						/*login2,register2*/
  cursor: pointer;
  background: #660066;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

